<div class='wrapper'>
  <div class="card-deck">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Card title</h5>
      </div>
      <img class="card-img-top" src="/app/assets/images/camera-canon-dslr-243757.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h5 class="card-title">Price</h5>
        <h5 class="card-title">Description</h5>
        <h6 class="card-title">
          <a href="#">More information</a>
        </h6>

      </div>
  </div>
</div>
